server {
    listen 80;
    listen [::]:80;
    root /var/www/{{ name }}_host/{{ name }};
        index index.html index.htm index.nginx-debian.html;
    server_name  {{ name }}.{{ web }} www.{{ name }}.{{ web }};

    proxy_redirect           off;
    proxy_set_header         X-Real-IP $remote_addr;
    proxy_set_header         X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header         Host $http_host;

    
    location / {
                try_files $uri $uri/ =404;
        }
        
}

